body {
    background-color: lightgreen;
}

table {
    height: 1000px;
    width: 700px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    margin-bottom: 90px;
    background-color: lightblue;
}


.shadow {
    box-shadow: 40px 40px 40px green; 
}

.button {
    height: 35px;
    width: 135px;
    background-color: lightgray;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    font-size: 15px;
}

.text {
    margin-left: 130px;
    height: 20px;
    border-radius: 7px;
}

.select {
    border-radius: 5px;
    margin-left: 130px;
    height: 27px;
    width: auto;
}

.button2 {
    height: 35px;
    width: auto;
    background-color: lightcyan;
    border-radius: 5px;
    box-shadow: 3px 3px 3px black;
    font-size: 15px;
}

.informacije {
    display: none;
}